@use '../abstracts/variables' as *;

.answer-form {
  flex-basis: 564px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btn-primary {
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  padding: 32px;
  background-color: $purple;
  border: none;
  border-radius: 28px;
  color: white;
  width: 100%;
  transition: all 150ms;
  position: relative;
  overflow: hidden;
  margin-top: auto;
}

.btn-primary::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0;
  transition: opacity 150ms;
}

.btn-primary:hover::after {
  opacity: 0.5;
}

.answer-error {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
}

.answer-error-icon {
  width: 40px;
  height: 40px;
}

.answer-error-text {
  color: $red;
  font-size: 24px;
  line-height: 150%;
}

body.dark {
  .answer-error-text {
    color: $light-grey;
  }
}

@media (max-width: 495px) {
  .answer-form {
    gap: 12px;
    flex-basis: 0;
  }

  .btn-primary {
    margin: 0;
    font-size: 18px;
    padding: 12px;
    height: 56px;
    border-radius: 12px;
  }

  .answer-error {
    gap: 8px;
  }

  .answer-error-icon {
    width: 24px;
    height: 24px;
  }

  .answer-error-text {
    color: $red;
    font-size: 12px;
    line-height: 150%;
  }
}
