@use '../abstracts/variables' as *;

.home {
  display: flex;
  justify-content: space-between;
  gap: 64px;

  &__welcome-half {
    display: flex;
    flex-direction: column;
    gap: 48px;
    min-width: 450px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 8px;
    font-size: 64px;
    font-weight: 300;
    color: $dark-navy;

    strong {
      font-weight: 500;
    }
  }

  &__pick-subject-text {
    font-style: italic;
    font-size: 20px;
    line-height: 150%;
    color: $grey-navy;
  }

  &__subject-btns-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-basis: 564px;
  }
}

body.dark {
  .home__title {
    color: white;
  }

  .home__pick-subject-text {
    color: $light-bluish;
  }
}

@media (max-width: 950px) {
  .home {
    flex-direction: column;
    gap: 64px;

    &__welcome-half {
      gap: 16px;
      min-width: 0;
    }

    &__subject-btns-container {
      flex-basis: 0;
    }
  }
}

@media (max-width: 495px) {
  .home {
    gap: 40px;

    &__welcome-half {
      gap: 16px;
    }

    &__title {
      font-size: 40px;
    }

    &__subject-btns-container {
      gap: 12px;
    }

    &__pick-subject-text {
      font-size: 14px;
    }
  }
}
