@use '../abstracts/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

body {
  background-color: $light-grey;
  background-image: url('/assets/images/pattern-background-desktop-light.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 300ms;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 950px) {
  body {
    padding: 0;
  }
}

body.dark {
  background-color: $dark-navy;
  background-image: url('/assets/images/pattern-background-desktop-dark.svg');
}

img {
  width: 100%;
  height: auto;
  display: block;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}
